<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>CurrencyConverter</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home_style.css" type="text/css"/>
</head>
<body>
<div class="overlay" id="container">
    <div class="bg"></div>
    <p id="con-track">
        <span class="ct" id="convert">CONVERT</span>
        <span class="ct" id="and">&</span>
        <span class="ct" id="track">TRACK</span>
    </p>
    <h1 class="yourCur" id="your-cur">Your Currency</h1>
    <button id = "btn-convert" type="button" value="CONVERT">CONVERT</button>
</div>

<!-- CONVERT POP_UP ---------------------------------------   -->
<div class="container" id="container-convert">

    <div class="card" id="card">
        <span class="x" id="x">&times;</span>
        <div class="content-box" id="content-box-convert">
            <div class="heading" id="from">
                <span id="from-heading">From</span>
            </div>
            <div class="txt-drpdwn-container" id="from-td-container">
                <input class="txt-drpdwn" type="text" id="from-txt" value="1" oninput="convert('from')">
                <select class="txt-drpdwn" id="from-drpdwn" oninput="convert('from')">
                    <!-- <option value="GBP">GBP</option> -->
                </select>
            </div>
            <div class="heading" id="to">
                <span id="to-heading">To</span>
            </div>
            <div class="txt-drpdwn-container" id="to-td-container">
                <input class="txt-drpdwn" type="text" id="to-txt" value="" oninput="convert('totxt')" onfocusin="swapheading('to-from')" onfocusout="swapheading('from-to')">
                <select class="txt-drpdwn" id="to-drpdwn" oninput="convert('from')">
                    <!-- <option value="GBP">GBP</option> -->
                </select>
            </div>
            <div class="remind-container" id="remind-container">
                <a class="remind" id="remind" href="#">Remind me?</a>
            </div>
        </div>
    </div>
</div>

<!-- REMIND POP_UP -------------------------------------------  -->
<div class="container" id="container-remind" style="display: none">

    <div class="card" id="card-remind">
        <span class="x" id="x-remind">&times;</span>
        <div class="content-box" id="content-box-remind">
            <div class="heading" id="remind-label">
                <span id="remind-heading">Remind me</span>
                <p id="when-heading">When?</p>
            </div>
            <div class="txt-container" id="txt-container">
                <input id="when-txt" type="text" placeholder="Price drops below..">
            </div>
            <div class="mail-sms-container" id="ms-label">
                <span id="mail-sms">Enter Mail ID/Number</span>
                <input id="txt-mail-sms" type="text" placeholder="Enter Mail ID/Number"/>
            </div>
            <div class="button-container" id="ms-button-container">
                <button id="btn-mail">Mail</button>
                <button id="btn-sms">SMS</button>
            </div>
        </div>
    </div>
</div>
<script src="../Model/home_js.js" type="text/javascript"></script>
</body>
</html>