*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #FFEAB6;
}

h1.yourCur{
    position: absolute;
    top: 57%;
    left:10%;
    font-size: 12vw;
    opacity: 0.1;
    transform: translate(-6%,-50%);
    z-index: -2;
}

.bg{
    background: url("../Files/coins_full.png") center no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;
    animation-name: bg-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
}

p#con-track{
    position: absolute;
    top: 14%;
    left: 10%;
    background: none;
}
p#con-track{
    font-size: 70px;
    font-weight: 800;
    color: #6B6B6B;
    display: grid;
    grid-template-columns: 1fr 3vw 1fr;
    grid-template-rows: 1fr 25% 1fr;
    justify-content: center;
    align-content: center;
}
span#convert{
    font-size: 80px;
    text-align: start;
    grid-column:1/3;
}
span#and{
    grid-column: 2/3;
    grid-row:2/3;
}
span#track{
    font-size: 80px;
    grid-column: 2/3;
    grid-row:3/4;
}

button#btn-convert{
    position: absolute;
    top:72%;
    left: 38%;
    border-radius: 20px;

}

button#btn-convert{
    color: #FFB800;
    font-size: 3vw;
    font-weight: 900;
    background: white;
    border:none;
    padding: 10px 15px 10px 15px;
    transition: all 0.5s ease;
}
button#btn-convert:hover{
    cursor: pointer;
    box-shadow: 1px 10px 30px rgba(0, 150, 136,0.6);
    transform: scale(1.02);
}
button#btn-convert:focus{
    outline: 0;
}
/*
div.convert-dialog{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    z-index: 10;
    /*animation: convert-dialog-animation 5s ease;*/
    /*visibility: visible;
}
*/
/*


div.convert-dialog{
    height: 80vh;
    width: 60vw;
    max-width: 500px;
    border-radius: 10px;
    background: #009688;
}
 */
/*
form{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
}

#from{
    font-size: 500%;
    grid-column: 1/span 2;
    color: white;
}

#from,#to{
    font-size: 500%;
    grid-column: 1/span 2;
    color: white;
}

#from-txt, #to-txt{
    border: none;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
}

#from-drpdwn, #to-drpdwn{
    border:none;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
}

h2#remind{
    color: #9D9D9D;
}
*/

.overlay{
    height:100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}
div#container {
    /*animation: blur-bg 5s ease;*/
}

.isblurred{
    filter: blur(20px);
}
@media screen and (max-width: 1100px) {
    p#con-track {
        font-size: 60px;
    }
    span#convert, span#track{
        font-size: 70px;
    }
    h1.yourCur{
        font-size: 18vw;
    }
    button#btn-convert{
        position: absolute;
        top:80%;
        left: 38%;
        border-radius: 20px;
        font-size: 40px;
    }
    .bg{
        background: url("../Files/coins_full.png") center no-repeat;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        overflow: hidden;
        z-index: -1;
        animation-name: bg-animation;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}
@media screen and (max-width: 900px) {
    p#con-track {
        font-size: 60px;
    }
    span#convert, span#track{
        font-size: 70px;
    }
    h1.yourCur{
        font-size: 20vw;
    }
    button#btn-convert{
        position: absolute;
        top:80%;
        left: 38%;
        border-radius: 20px;
        font-size: 40px;
    }
    .bg{
        background: url("../Files/coins_full.png") center no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        overflow: hidden;
        z-index: -1;
        animation-name: bg-animation;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}
@media screen and (max-width: 700px) {
    p#con-track {
        font-size: 50px;
    }
    span#convert, span#track{
        font-size: 60px;
    }
    h1.yourCur{
        font-size: 20vw;
    }
     button#btn-convert{
        position: absolute;
        top:80%;
        left: 38%;
        border-radius: 20px;
        font-size: 30px;
    }
    .bg{
        background: url("../Files/coins_full.png") center no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        overflow: hidden;
        z-index: -1;
        animation-name: bg-animation;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}

@keyframes bg-animation {
    0%{
        transform: scale(5);
    }
    100%{
         transform: scale(1);
    }
}
@keyframes convert-dialog-animation {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes blur-bg {
    0%{
        filter: blur(0px);
    }
    50%{
        filter: blur(10px);
    }
    100%{
         filter: blur(20px);
    }
}
/*-------------------CONVERT POP-UP--------------------------*/
/*-------------------SAME FOR BOTH POP-UPS--------------------------*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    overflow: hidden;
}
.container .card .x{
    cursor: pointer;
    position: absolute; top: 0; right: 5%;
    font-size: 50px;
}
.container{
    position: relative;
    visibility: hidden;
}
.container .card{
    position: relative;
    height: 80vh;
    width: 60vw;
    max-width: 500px;
    background: #009688;
    border-radius: 30px;
    overflow: hidden;
}
.container .card:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFB800;
    clip-path: circle(30% at 110% -10%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(70% at 70% -35%);
}
/*-------------------SAME FOR BOTH POP-UPS--------------------------*/

.container .card #content-box-convert{
    position: absolute;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    top: 15%;
    left:20px;
    width: 100%;
    height: 80%;
    font-size: 70px;
    font-weight: 600;
    transition: 0.5s ease;
}
#container-convert #card:hover #content-box-convert{
    top: 10%;
}
.txt-drpdwn-container{
    display: flex;
    width:100%;
}
.txt-drpdwn{
    padding: 3% 0 3% 3%;
    font-size: 20px;
    margin: 3% 0;
    background: rgba(1,1,1,0.5);
    color: #FFB800;
    border: none;
    border-radius: 10px;
}
#to{
    margin-top: 20%;
    transition: 0.5s ease;
}
#card:hover #to{
    margin-top: 10%;
}
#from-txt, #to-txt{
    width: 70%;
}
#from-drpdwn, #to-drpdwn{
    margin-left: 4%;
}

.content-box .remind-container{
    position: relative;
    display: flex;
    bottom: -100%;
    right: 8%;
    justify-content: flex-end;
    align-items: end;
    transition: 1s ease;

}
.card:hover .remind-container{
    bottom: -20%;
}
.content-box .remind-container .remind{
    font-size: 40%;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

#from-drpdwn option{
    background-color: rgba(1,1,1,0.5);
    border: none;
    font-size: 20px;
}

/*-------------------REMIND POP-UP--------------------------*/
#card-remind{
    background-color: #6B6B6B;
}
.container .card #content-box-remind{
    position: absolute;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    top: 15%;
    left:20px;
    width: 100%;
    height: 80%;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s ease;
}
#container-remind #card-remind:hover #content-box-remind{
    top: 10%;
}
.txt-container{
    display: flex;
    width:100%;
}
#when-txt, #txt-mail-sms{
    padding: 3% 0 3% 3%;
    width: 85%;
    font-size: 20px;
    margin: 3% 0;
    background: rgba(1,1,1,0.5);
    color: #FFB800;
    border: none;
    border-radius: 10px;
}
#remind-heading{
    font-size: 70px;
}
#when-heading{
    margin-top: 10%;
    transition: 0.5s ease;
}
#card-remind:hover #when-heading{
    margin-top: 0%;
}

.mail-sms-container{
    margin-top: 10%;
}

.button-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 90%;
    bottom:2%;
    margin-top: 10%;

}
.button-container button{
    background: rgba(250,250,250,1);
    border: none;
    padding: 2% 7% 2% 7%;
    border-radius: 20px;
    font-size: 90%;
    font-weight: bold;
    color: #FFB800;
    cursor: pointer;
    transition: 0.3s ease;
}
.button-container button:hover{
    box-shadow: 1px 10px 30px rgba(1,1,1,0.6);
    transform: scale(1.2);
}
.button-container button:active, button:focus{
    outline: none;
}